body{
	min-height: 600px;
	position: relative;
	margin: 0;
	padding: 0;
}

#container{
	top: 0px;
}

.headline {
   width: 100%;
   height: 120px;
   top: 0px;
   font-family: 'Avenir','Helvetica','san-serif';
   background-color: white;
   position: fixed;
   border-bottom: 1px solid #CE5374;
}

.headline_notfixed{
   width: 100%;
   height: 120px;

}

.headline h1, .headline_notfixed h1 {
	color: #CE5374;
	margin-top: 25px;
	margin-bottom: 15px;
	font-size:30px;
	font-weight: bold;
	text-align: center;
}

.author {
	color: #666666;
	text-align: center;
}

.author a{
	color: #CE5374;
}

.author a:hover{
	color: #CE5374;
	text-decoration: underline;
}

#map {
	width: 100%;
	height: 450px;
	margin: auto;
    padding: 0;
    top:0px;
}

/*.leaflet-container path{
	transition: fill 5s;
}*/

.menu {
	color: #d3d3d3;
	height: 430px;
	position: absolute;
	z-index: 9999;
	right: 0px;
	top: 0px;
	background-color: rgba(23,27,30,0.7);
	font-family: 'Avenir','Helvetica','san-serif';
}

.menu_title {
	color: #d3d3d3;
	padding: 10px 20px;
	border-bottom: 1px solid; 
}

.menu span{
	font-size: 28px;
}

.menu_type {
	width: 250px;
	padding: 7px 20px;
	cursor: pointer;
	color: #d3d3d3;
	font-size: 15px;
	font-family: 'Avenir','Helvetica','san-serif';
}

.menu_hovered {
	background-color: rgba(255,255,255,0.1);
}

.menu_clicked {
	background-color: rgba(255,255,255,0.2);
}

.source{
	padding: 10px 20px;
	opacity: 0.8;
}

.axis .domain {
	stroke-width: 0px;
}

.axis .tick line{
	stroke-width: 0.5px;
	stroke-dasharray: 3px;
	stroke: #d3d3d3;
}

.axis .tick text{
	fill: #666;
	font-size: 11px;
}

.hour_not_hovered{
	stroke: #d3d3d3;
	stroke-width: 2.5px;
	fill: none;
	opacity: 1;
}

.line_hovered{
	stroke: #CE5374;
	opacity: 1;
	fill: none;
	stroke-width: 2.5px;
}

.n_of_crime {
	fill: #666;
	text-anchor: middle;
	font-size: 12.5px;
}

.subtitle, .content{
	width: 100%;

}

.content p{
	width: 550px;
	transform: translate(70%,0);
}

.subtitle{
    margin-top: 35px;
    margin-bottom: 25px;
    font-family: 'Avenir','Helvetica','san-serif';
    color: #CE5374;
}

.subtitle h3{
	width: 550px;
	font-size: 20px;
	font-weight: bold;
	transform: translate(70%,0);
}

.map_title{
	margin-top: 10px;
}

.content{
	font-size: 18px;
    font-family: 'Minion Pro','Times','serif';
    color: #666;
}

.content1{
	margin-top: 20px;
}

.des {
	font-size: 18px;
	font-family: 'Minion Pro','Times','serif';
    width: 550px;
    font-style: oblique;
}

.footnotes{
	margin-top: 20px;
}

.button {
	margin-top: 30px;
	text-align: center;
}

.btn_back {
	padding: 5px 10px;
	border: 1px solid #CE5374;
	background-color: white;
	color:#666;
	transition-duration: 0.25s;
}

.btn_back:hover {
	background-color: #CE5374;
	color: white;
	transition-duration: 0.25s;
}
